// Bourbon & Neat
@import 'bower_components/bourbon/dist/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles


$gray1:rgb(128, 128, 128);
$mainF: 'Kreon', serif;


.navView{

  @include outer-container;


  .navImg{
    border:solid;
    @include span-columns(12);
  }
  .navImg:hover{
    cursor: hand;
    cursor: pointer;
  }

  .navBox{
    @include shift(.3);
    @include span-columns(3.6);
    background-color:$gray1;
    text-decoration:none;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;

  }

  .navBox:hover{
    cursor: hand;
    cursor: pointer;
    background-color:black;
    border-color:black;
    color:white;
  }

}

/*----------------------------------------------------*/

.homeView{
  @include outer-container;
  border:solid;

  /*.......home styling.......*/

  .home{
    @include span-columns(12);
    border:solid;
    text-align:center;
  }

  .tagline{
    @include span-columns(6);
    @include shift(3);
    border:solid;
    text-align:center;
  }

  .aboutMe{
    // border:solid;
    @include span-columns(4);
    @include shift(1);
    padding-top:20px;
    .para{
      line-height: 1.5;
      text-indent: 2em;
      text-align:justify;
      margin:0;
    }
  }
}

/*----------------------------------------------------*/

.contactView{
  @include outer-container;
  .emailPhone{
    @include span-columns(12);
  }
  .contactMe{
    @include span-columns(12);
    .contactForm{
      @include span-columns(5);
      @include shift(1);
      label{
        @include span-columns(10);

        display:block;
        margin-bottom:7.5px;
      }
      input{
        @include span-columns(8);
        min-width:200px;
        border-color:black;
        padding:5px;
        margin-bottom:20px;
        border-radius:3px;

      }
      textarea{
        @include span-columns(12);
        min-width:270px;
        padding:5px;
        border-width:2px;
        margin-bottom:20px;
        border-radius:3px;
        height:300px;
      }
      .bFrame{
        @include span-columns(12);
      }
      .errorSubmit{
        margin-top:10px;
        @include span-columns(12);
      }

    }/*end of contact form*/
    .messSent{
      @include shift(1);
      @include span-columns(10);
    }
    .errorSent{
      @include shift(1);
      @include span-columns(10);

      .sorry{
        color:red;
      }
      .errorHome{

      }
    }
  }/*end of contact me */

  .socialNetwork{
    @include span-columns(12);
    .findMe{
      margin-top:50px;
      @include shift(1);

    }
    .snFrame{
      @include span-columns(4);
      @include omega();
      margin-top:20px;
      text-align:center;
    }

    .snImg{
      margin-bottom:60px;
      height:100px;
      width:100px;
      opacity: 0.8;
      border-radius:10px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease; /*Reflection*/
      -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent),
      color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
      border:solid;
      border-color:black;
      border-width:3px;
    }


    .snImg:hover{
      cursor: hand;
      cursor: pointer;
      opacity: 1; /*Reflection*/
      -webkit-box-reflect:
      below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
      /*Glow*/ -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
      -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
      box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    }
  }/*end of social network*/
}/*end of contact view*/


/*----------------------------------------------------*/
.projectView{
  @include outer-container;

  .sec{
    @include span-columns(12);
    border:solid;
    }

}
/*----------------------------------------------------*/

.projectView{
  #slider3 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
  }

  #slider3-pager{
    text-align:center;
  }

  #slider3-pager li {
    list-style:none;
    display:inline;
  }
  #slider3-pager a {
    display: inline-block;
  }

  #slider3-pager img {
    float: left;
    height:100px;

  }

  #slider3-pager .rslides_here a {
    background: transparent;
    box-shadow: 0 0 0 2px #660;
  }

  #slider3-pager a {
    padding: 0;
  }

  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
  }

  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
  }

  .rslides img {
    display: block;
    float: left;
    width: 100%;
    border: 0;
  }


}
/*----------------------------------------------------*/
.footerView{
  @include outer-container;
  background-color:black;
  height:100px;
  .footerLinks{
    color:white;
    padding-top:30px;
    .flinks:hover{
      cursor: hand;
      cursor: pointer;
      color:red;
    }
  }
}
