@font-face {
    font-family: 'Fortnite';
    src: url('../../fonts/fortnite.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.home-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    overflow: hidden;
    background-image: url("../../images/fortnite_background.png");
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.image-container {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.me-select {
    position: absolute;
    z-index: 2; /* Places these images above the logo */
    /* Adjust the following properties to position each image as needed */
    top: 10%;
    left: 10%;
    width: 100px; /* Adjust size as needed */
    height: auto;
}

.image-label {
    font-family: 'Fortnite', serif;
    font-size: 34px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.image-container:nth-child(1) { /* career */
    top: 30%;
    left: 30%;
}

.image-container:nth-child(2) { /* hello */
    top: 100%;
    left: 100%;
}

.image-container:nth-child(3) { /* hobbies */
    top: 100%;
    left: 100%;
}

.image-container:nth-child(4) { /* family */
    top: 100%;
    left: 100%;
}

/*@media screen and (max-width: 750px)  {
    .home-container {
        display: block;
        overflow: scroll;
        height: 100%;
    }

    .image-container{
        margin-top: 0px;
        width: 100%;
        align-items: start;
        text-align: left;
        display: inline-block;
        border: #383838 solid 1px;
    }

    .me-select {
        width: 40%;
    }

    .image-label {
        height: 125px;
        margin-top: 0;
        margin-left: 10px;
        padding-top: 75px;
        float: left;
        width: 30%;
    }
}*/

/*@media screen and (max-height: 600px)  {
    .image-container {
        margin-top: 0;
    }
}*/
